<html>
<header>
  <div class="topnav">
    <a [routerLink]="['/register']" routerLinkActive="'is-active'"><button class="btncls">Register</button></a>
    <a routerLink="/login" routerLinkActive=""><button class="btncls">Login</button></a>
    <a routerLink="/login" routerLinkActivate="" (click)="onLogout()"><button class="btncls">Logout</button></a>
  </div>
</header><br>
<div class="full">
  <div class="container">
      <div class="row">
          <div class="form-inner">
              <h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="field">
<label>Email</label>
<input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
  <div *ngIf="f.email.errors.required">Email must contain @gmail</div>
  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  </div>
</div>
<br>
<div class="field">
<label>Password</label>
<input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
    </div>
<br><br>
<input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>




<div class="field btn">
 <div class="btn-layer"></div>
 <input type="submit" value="Login" >
</div>
<br>
<div class="pass-link">
<p>Are you  New User? <a routerLink="/register" routerLinkActive=""><br><br><b>Register here</b></a></p>
</div>
</form>
</div>
<br>

